.editSpan {
    color: black;
    font-weight: 600;
    margin: 10px;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
    width: 20rem;
    height: 2rem;
    text-align: center;
}
.editSpan::before{
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="1em" height="1em"><path d="M1.172,19.119A4,4,0,0,0,0,21.947V24H2.053a4,4,0,0,0,2.828-1.172L18.224,9.485,14.515,5.776Z"/><path d="M23.145.855a2.622,2.622,0,0,0-3.71,0L15.929,4.362l3.709,3.709,3.507-3.506A2.622,2.622,0,0,0,23.145.855Z"/></svg> ');
    margin-right: 5px;
    color: firebrick;
}